# Colors are `foreground[ background]`.
[blame]
	coloring = highlightRecent
	date = local
[branch]
	sort = committerdate
[commit]
	verbose = true
[pull]
	rebase = true
[push]
	default = simple
[user]
	name = sentientwaffle
	email = sentientwaffle@gmail.com
[color]
	branch = auto
	diff = auto
	grep = auto
	status = auto
[color "blame"]
	highlightRecent = 240, 12 month ago,242, 11 month ago,243, 10 month ago,244, 9 month ago,245, 8 month ago,246, 7 month ago,247, 6 month ago,248, 5 month ago,249, 4 month ago,250, 3 month ago,251, 2 month ago,252, 1 month ago,255
[color "diff"]
	meta = 81
	frag = 213
	new = 107
	old = 160
[color "grep"]
	context = 254
	filename = 197
	lineNumber = 154
	matchContext = 40 37
	matchSelected = 0 186
	selected = 255 234
	separator = 81
[color "status"]
	branch = 81
	added = 107
	changed = 160
	untracked = 160
[color "interactive"]
	# e.g. "Stage this hunk ..." in `git add -i --patch`.
	prompt = 208
